<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/style.css" />
    <!-- yes we have too many fedi accounts. i know -->
    {{range .Config.Links}}
    <link rel="me" href="{{.}}">
    {{end}}
    <title>{{.Config.Title}}</title>
  </head>
  <body>
    <ul class="nav">
      <li>
        <b>{{if .Config.ShortTitle}}{{.Config.ShortTitle}}{{else}}{{.Config.Title}}{{end}}</b>
      </li>
      {{range .Config.Nav}}
      <li>
        <a href="{{.URL}}">{{.Name}}</a>
      </li>
      {{end}}
    </ul>
    <div clas="content">
      {{.Content}}
    </div>
    <footer>
      <a href="https://www.mozilla.org/en-US/firefox/new/" title="FREE Microsoft Internet Explorer">
        <img src="/ie_animated.gif" alt="FREE Microsoft Internet Explorer">
      </a>
      <img src="/gay_cat.png" alt="this cat is gay" title="this cat is gay">
      <a href="https://woem.space/users/starshine" rel="me" title="woem.space badge">
        <img src="/woem_space.png" alt="woem.space badge">
      </a>
      <img src="/foxfoxfox.png" alt="fox fox fox fox fox" title="fox fox fox fox fox">
      <a href="https://natty.gay" title="Natty &lt;3">
        <img src="/blobfox.png" alt="Natty &lt;3">
      </a>
      <a href="https://elke.cafe" title="elke">
        <img src="/elke.gif" alt="elke.cafe">
      </a>
      <a href="https://my-kz-ur-bf.neocities.org/" title="rats rats we are the rats">
        <img src="/ratbutton.gif" alt="'puter full of rats">
      </a>
    </footer>
  </body>
</html>
