body {
  font-size: 18px;
  color: #ffffff;

  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;

  background-color: #0d3f47;
  background: url("/background.png") repeat;
}

footer {
  padding: 10px 0;
  border-top: 1px solid #999999;
}

ul.nav {
  display: flex;
}

ul.nav > li {
  margin: 5px;
  display: inline;
  list-style-type: none;
}

a {
  color: #7fa5e8;
  text-decoration: none;
}

a:link {
  color: #7fa5e8;
}

a:visited {
  color: #7fa5e8;
}

a:focus {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
